name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install dependencies
        run: ./vekolo deps

      - name: Analyze code
        run: ./vekolo analyze --fatal-infos

  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install dependencies
        run: ./vekolo deps

      - name: Analyze code
        run: ./vekolo format --verify

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install dependencies
        run: ./vekolo deps

      - name: Run all tests
        run: vekolo flutter test
